body{
	background-color: white;
	margin: 10px;
}
.ico1,.ico2,.ico4,.ico5{
	float: left;
	/*border:1px solid black;*/
	width: 18%;
	height: 80%;
	margin: 8px;
	text-align: center;
	background-color: #E8E8E8;
	padding-top: 2%;
}


/*h2{
	text-align: center;
}
h4{
	text-align: center;
}*/

.fa-paper-plane-o{
	font-size: 300%;
}

.fa-diamond{
	font-size: 300%;
}

.fa-heart-o{
	font-size: 300%;
}

.fa-venus{
	font-size:300%;
}

.fa-cutlery{
	font-size: 300%;
}

p{
	float: left;
	text-align: center;
}

.h2C{
	font-family: 'Fascinate Inline', cursive;
}
.ico3{
	text-align: center;
	float: left;
	/*border:1px solid black;*/
	width: 20%;
	height: 85%;
	margin: 8px;
	border:2px outset #E0E0E0;
	padding-top: 2%;
	font-family: 'Indie Flower', cursive;

}

.p1,.p3,.p5{
	font-family: 'Indie Flower', cursive;
}